<ion-grid>
  <ion-row>
    <ion-col size=12>
      <h2>En Santiago</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Alex Avila</ion-card-subtitle>
          <ion-card-title>U de CHile tour</ion-card-title>
        </ion-card-header>
        <img src="http://lorempixel.com/240/240/city/">
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
