<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Buscar tours</ion-title> -->
    <ion-input placeholder="Buscar Tour" (ionFocus)="onSearch()" (ionBlur)="onSearch(false)"></ion-input>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closePage()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-tour-search-bar></app-tour-search-bar> -->
  <ng-container *ngIf="!searching">
    <app-tour-feature-list
      title="Tours Cercanos"
      subtitle="Integrate rapidamente a un guiado!"
    ></app-tour-feature-list>
    <app-tour-feature-list
      title="En los proximos minutos"
      subtitle="Ppronto comenzarán más."
    ></app-tour-feature-list>
    <app-tour-feature-list
      title="Todos en Santiago"
      subtitle="Revisa la oferta completa de la ciudad."
    ></app-tour-feature-list>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>Meet the world</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="searching">
    <ion-grid>
      <ion-row>
        <ion-col size=12>
          <ion-text color="medium" class="ion-text-center">
            <h3>Buscando tours...</h3>
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-center">
            <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  
</ion-content>
