.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#map_canvas {
  position: 'absolute';
  // background-color: violet;
  background-color: var(--ion-color-light);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.qrcode {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
  // top: 25%;
  // left: 20%;
}

.qrcode div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  animation: createBox .5s;
}

.qrcode qrcode {
  padding: 4px;
  background-color: var(--ion-color-primary);
  border-style: solid;
  border-color: var(--ion-color-primary);
  border-radius: 12px;
}

.actions {
  z-index: 10;
  background-color: transparent;
  // display: flex;
  position: absolute;
  // max-height: 70%;
  // overflow: hidden;
  // overflow-y: auto;
  bottom: 0;
  width: 100%;
  animation: createBox .5s;
}

.actions-bar {
  background-color: white;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-top: 16px;
  display: flex;
  justify-content: space-evenly;
}

.actions-bar ion-icon {
  color: #ffffff;
  background-color:  var(--ion-color-primary);
  border-radius: 50%;
  padding: 4px;
}

.actions-bar div {
  display: block;
}

.actions-bar p {
  margin: 0px;
}

.actions-bar ion-col {
  padding: 0px;
  margin: 0px; 
}

.actions-test {
  background-color: lightgreen;
  // display: flex;
  // position: absolute;
  // max-height: calc(50%);
  width: 100%;
  // bottom: 0;
}

#backup {
  z-index: 2;
  background-color: lightgreen;
  // display: flex;
  position: absolute;
  // max-height: calc(50%);
  height: 40%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

// [ion-fixed] {
//   min-height: calc(100% - 98px); // adjust to your footer height!
// }

ion-card-content {
  padding-top: 0px;
}

ion-card {
  background-color: var(--ion-color-medium);
  margin: 0px 8px;
  display: inline-block;
}

ion-card img {
  min-height: 172px;
  min-width: 260px;
}

ion-card-header {
  background-color: #ffffff;
}

ion-card-title ion-icon {
  position: relative;
  bottom: 40px;
  padding: 5px;
  background-color: var(--ion-color-secondary);
  border-radius: 50%;
  box-shadow: -2px -1px 8px var(--ion-color-dark);
}

ion-row {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--ion-color-light);
}

.title {
  padding-left: 8px;
  padding-right: 8px;
}

ion-col p, h3 {
  margin: 4px;
}

ion-grid {
  padding-top: 8px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  // border-top: 5px solid #ffffff;
}

.section { 
  padding-bottom: 8px;
  overflow: auto;
  white-space: nowrap;
}

.tag {
  background-color: rgba(216, 102, 100, 0.7);
  padding: 4px 12px;
  border-radius: 30%;
  margin: 0px 2px;
  font-style: italic;
  color: var(--ion-color-dark);
}

.type {
  background-color: var(--ion-color-light);
}

.tour-banner {
  // animation: blink 1s linear infinite;
  // animation: blink 1s steps(2, start) infinite;
  animation: blink 1s step-start 0s infinite;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--ion-color-danger);
  padding: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.tour-banner.confirm {
  background-color: var(--ion-color-danger);
}

.tour-banner.pause {
  background-color: var(--ion-color-warning);
}

.tour-banner.active {
  background-color: var(--ion-color-success);
}

.tour-banner p {
  margin: 4px 0px;
}

.icon-loading {
  opacity: 0.5;
  // animation: icon-rotate 2s steps(1, start) infinite;
  animation: blink 0.5s step-start 0s infinite;
}

@keyframes icon-rotate {
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes createBox {
  0% { transform: scale(0) }
  80% { transform: scale(1.25) }
  90% { transform: scale(1.1) }
  100% { transform: scale(1) }
}