<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Santiago, Chile.</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="openSearchPage()">
          <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

  <ion-row *ngIf="tourSession.status === 'join'" class="tour-banner confirm">
    <p>Te has<strong> unido al tour</strong>, debes localizar al guía.</p>
  </ion-row>

  <ion-row *ngIf="tourSession.status === 'confirm'" class="tour-banner confirm">
    <p>Tour en <strong> confirmación</strong>, comparte el codigo QR.</p>
  </ion-row>

  <ion-row *ngIf="tourSession.status === 'PAUSE'" class="tour-banner PAUSE">
    <p>Tour en <strong> pausa</strong>, espere las instrucciones.</p>
  </ion-row>

  <ion-row (click)="finalizeTour()" *ngIf="tourSession.status === 'active'" class="tour-banner active">
    <p> {{ tourSession.tour.title }} <strong> activo</strong>.</p>
  </ion-row>

  <div id="map_canvas"></div>
  
  <div class="qrcode" *ngIf="showQRCode && !scanning">
    <div>
      <qrcode (click)="confirmTour()" [qrdata]="authUser.fid" [size]="256" [level]="'L'"></qrcode>
    </div>
  </div>

  <div class="actions" *ngIf="tourSession.status">
    <div class="actions-bar" (swipeup)="toggleShowContent()" (swipedown)="toggleShowContent()">
      <!-- <ion-icon *ngIf="!tourSession.active && showContent" name="arrow-down" size="large" (click)="toggleShowContent()"></ion-icon>
      <div *ngIf="!tourSession.active && !showContent" (click)="toggleShowContent()">
        <ion-icon name="arrow-up" size="large"></ion-icon>
        <p><ion-text color="primary"><strong>Scann</strong></ion-text></p>
      </div> -->
      <div *ngIf="tourSession.status === 'join' && showQRCode && !scanning" (click)="startScanning()">
          <ion-icon name="camera" size="large"></ion-icon>
          <p><ion-text color="primary"><strong>Camera</strong></ion-text></p>
      </div>
      <div *ngIf="tourSession.status === 'join' && showQRCode && (scanning || showQRCode)" (click)="stopScanning()">
        <ion-icon name="return-left" size="large"></ion-icon>     
        <p><ion-text color="primary"><strong>Return</strong></ion-text></p>
      </div>
      <div *ngIf="tourSession.status === 'join' && !showQRCode" (click)="toggleQRCode()">
        <ion-icon name="qr-scanner" size="large"></ion-icon>
        <p><ion-text color="primary"><strong>Scann</strong></ion-text></p>
      </div>
      <div *ngIf="tourSession.status === 'active'" (click)="cancelTour()">
        <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
        <p><ion-text color="primary"><strong>Finish</strong></ion-text></p>
      </div>
      <div *ngIf="tourSession.status === 'join' && !showQRCode && !scanning" (click)="getDirection()">
        <ion-icon name="navigate" size="large" [ngClass]="{'icon-loading': loadingDirection}"></ion-icon>
        <p><ion-text color="primary"><strong>Find</strong></ion-text></p>
      </div>
      <div *ngIf="tourSession.active && tourSession.status !== 'active' && !scanning && !showQRCode" (click)="cancelTour()">
        <ion-icon name="close" size="large"></ion-icon>
        <p><ion-text color="primary"><strong>Quit</strong></ion-text></p>
      </div>
    </div>
    <div [ngClass]="{'ion-hide': !showContent}">
      <app-tour-feature-list></app-tour-feature-list>
    </div>
  </div>

</ion-content>
