ion-content {
  --background: none transparent;
}

.scanner-bar {
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: 24px;
  display: flex;
  justify-content: center;
}

.scanner-bar div {
  background-color: transparent;
}

.scanner-bar ion-icon {
  color: #ffffff;
  background-color:  var(--ion-color-primary);
  border-radius: 50%;
  padding: 16px;
  // font-size: 32px;
}

.info {
  animation: blink 1s step-start 0s infinite;
}

.info .pause {
  --background-color: var(--ion-color-warning);
}

.info .active {
  --background-color: var(--ion-color-success);
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
