<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guía Turistico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!activeTour">
    <ion-list-header>
      <h2>Mis Tours</h2>
    </ion-list-header>
    <ion-item *ngFor="let tour of tours">
      <ion-label>{{ tour.title }}</ion-label>
      <ion-toggle (ionChange)="activateTour(tour)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="activeTour && !scanning">
    <ion-button expand="block" color="secondary" (click)="scann()" *ngIf="status === 'PAUSE'">
      <ion-icon slot="start" name="camera"></ion-icon>
      Abrir cámara
    </ion-button>
    <!-- <ion-button expand="block" color="light" *ngIf="status === 'PAUSE'">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
      Ver Codigo QR
    </ion-button> -->
    <ion-button expand="block" color="success" (click)="startTour()" *ngIf="status === 'PAUSE'">
      <ion-icon slot="start" name="checkmark"></ion-icon>
      Iniciar Tour
    </ion-button>
    <ion-button expand="block" color="danger" (click)="finishTour()" *ngIf="status === 'ACTIVE'">
      <ion-icon slot="start" name="close"></ion-icon>
      Finalizar Tour
    </ion-button>
    <ion-button expand="block" color="danger" (click)="finishTour()" *ngIf="status === 'PAUSE'">
      <ion-icon slot="start" name="close"></ion-icon>
      Cancelar
    </ion-button>

    <ion-grid *ngIf="status !== 'INACTIVE'">
      <ion-row>
        <ion-col class="ion-text-center">
          <p *ngIf="status === 'PAUSE'" class="info pause">En Espera de participantes...</p>
          <p *ngIf="status === 'ACTIVE'" class="info active">Tour Activo</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-list-header>
        <h2>{{ activeTour.title }}</h2>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>Usuarios participando: {{ users.length }}/{{ activeTour.participants || 5 }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let user of users">
        <ion-label>{{ user.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <div class="scanner-bar" *ngIf="scanning">
    <div>
      <ion-icon slot="start" name="return-left" (click)="stopScanning()"></ion-icon>
    </div>
  </div>
</ion-content>
