<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tour.title }}</ion-title>
    <ion-buttons slot="end" (click)="presentPopover($event)">
        <ion-icon [name]="tour.type" size="large" style="padding-right: 16px;"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true"> 
    <ion-slide *ngFor="let img of tour.images">
      <ion-img [src]="img"></ion-img>      
    </ion-slide>
  </ion-slides>

  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col *ngIf="canJoin && tour.status === 'ACTIVE'">
        <ion-button color="danger" expand="block" shape="round" (click)="joinOnTour()">Estas cerca ¡Unirse! </ion-button>
      </ion-col>
      <ion-item *ngIf="!canJoin && tour.status === 'ACTIVE'" lines="full" class="info">
        <span style="color: green;">
          <ion-icon name="checkmark-circle" size="large" slot="start"></ion-icon>
        </span>
        <ion-label class="ion-text-wrap ion-margin-start">El tour esta activo, pero debes acercarte más para poder unirte</ion-label>
      </ion-item>
      <ion-item *ngIf="tour.status === 'INACTIVE'" lines="full" class="info">
        <p style="color: red;">
          <ion-icon name="close-circle" size="large"></ion-icon>
        </p>
        <ion-label class="ion-text-wrap ion-margin-start">El tour no se encuentra activo, debes esperar a que el guia se active.</ion-label >
      </ion-item>
    </ion-row>

    <ion-row class="description">
      <ion-col size=12>
        <p> {{ tour.description }} </p>
      </ion-col>
      <ion-col class="ion-text-right" size=12>
          <p> Duración: <ion-icon name="time"></ion-icon>{{ tour.duration }} minutos</p>
        </ion-col>
    </ion-row>

    <ion-row class="itenary">    
      <ion-col size=12 class="ion-text-center">
        <h2>Itinerario</h2>
      </ion-col>
      <ion-col class="ion-align-items-between itenary-list">
        <p *ngFor="let place of tour.itinerary">
          <ion-icon name="bookmark" class="itenary-icon"></ion-icon> {{ place.name }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="guide-card ion-no-padding ion-margin-vertical ion-align-items-between">
      <ion-col size=12 class="ion-text-center">
        <h2>Guía</h2>
      </ion-col>
      <ion-col class="itenary-list ion-text-center">
        <img class="avatar" [src]="'http://lorempixel.com/240/240/people/'+tour.guide.id.toString()">
      </ion-col>
      <ion-col class="ion-text-center">
        <div class="ion-text-center">
          <h5> {{ tour.guide.name }} </h5>
          <p style="color: yellow; margin-top: 0px">
            <ion-icon name="star" size="large" *ngFor="let start of [].constructor(5)"></ion-icon>
          </p>
        </div>          
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-margin-vertical ion-align-items-between guide-card comments">
      <ion-col size=12 class="ion-text-center">
        <h2>Comentarios</h2>
      </ion-col>
      <ng-container *ngFor="let cmnt of comments">
        <ion-col size=6 class="ion-text-left">
          <strong> {{ cmnt.user.name }} </strong>
        </ion-col>
        <ion-col size=6 class="ion-align-self-end ion-text-right">
          <p style="display: inline-flex" [ngStyle]="{'color': i >= cmnt.rating ? 'rgba(0, 0, 0, 0.6)': 'yellow'}" *ngFor="let start of [].constructor(5); let i = index">
            <ion-icon name="star" size="small"></ion-icon>
          </p>
        </ion-col>
        <ion-col size="12"> 
            <p> {{ cmnt.comment }} </p>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-chip *ngFor="let tag of tour.tags" color="tag">
        <ion-label color="tag">#{{ tag.name }}</ion-label>
      </ion-chip>
    </ion-row>

  </ion-grid>
</ion-content>
