.itenary-icon {
    color: var(--ion-color-tertiary);
    // transform: rotate(-20deg);
}

.join-row {
    background-color: var(--ion-color-secondary);
}

.guide-card {
    background-color: var(--ion-color-light);
    padding-bottom: 16px !important;   
}

.description {
    background-color: var(--ion-color-light);
    margin-bottom: 16px;
}

.itenary {
    background-color: var(--ion-color-light);
    margin-top: 0px;
}

.itenary h2 {
    margin-bottom: 0px;
}

.itenary-list p:first-of-type {
    margin-top: 0px;
}

.itenary-list p {
    font-size: 18px;
    font-style: italic;
    padding-top: 0;
}

.tag {
    background-color: rgba(252, 131, 32, 0.781);
    padding: 4px 20px;
    margin: 4px;
    border-radius: 25px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    // font-weight: bold;
}

.info {
    background-color: var(--ion-color-medium);
}

.join-button {
    // position: absolute;
    // top: 200px;
    // width: 100%;
}


img.avatar {
    --border-radius:50%;
    height:6rem;
    width:6rem;
}

.comments ion-col p {
    margin: 0px;
    padding: 0px;
}
