.section__feature {
  margin: 8px 0px;
  background-color: var(--ion-color-light);
}

.section { 
  padding-bottom: 16px;
  overflow: auto;
  white-space: nowrap;
}

.section img {
  width: 260px;
  height: 175px;
}

ion-card {
  margin: 0px 8px;
  display: inline-block;
}
  
ion-card-header {
  background-color: #ffffff;
}

ion-icon {
  position: relative;
  bottom: 60px;
  left: 200px;
  padding: 5px;
  background-color: var(--ion-color-secondary);
  border-radius: 50%;
  box-shadow: 1px 1px 8px var(--ion-color-dark);
  z-index: 500;
}
