<ion-grid class="section__feature">
  <ion-row class="title">
    <ion-col size=12>
      <h3> {{ title }} </h3>
      <i> {{ subtitle }} </i>
    </ion-col>
  </ion-row>
  <ion-row class="section">
    <ion-col size=12>
      <ng-container *ngFor="let item of data">
        <ion-card [routerLink]="['details/', item.id]" router>          
          <img [src]="item.images[0]">
          <ion-card-header>            
            <ion-card-title>
              {{ item.title }}
              <!-- <ion-icon size="large" [name]="item.type"></ion-icon> -->
            </ion-card-title>
            <ion-card-subtitle>{{ item.location }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
