.info-box {
    background-color: var(--ion-color-success);
    padding: 8px 16px;
    margin-top: -4px;
}

#tour-title {
    // background-color: var(--ion-color-primary);
    // border-radius: 18px;
    // width: 50%;
    // padding: 8px 4px;
    // margin: 4px;
}

.no-padding-y {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding-y h4 {
    padding-left: 16px;
}

.backcolor-light {
    background-color: var(--ion-color-light);
}

.btn-show-all {
    font-size: 10px;
    display: flex;
    align-self: center;
}

.list {
    background-color: var(--ion-color-light);
    font-size: 12px;
}

ion-item {
    --background: var(--ion-color-light);
}