<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Realizando Tour</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row style="margin-top:1em;">
    <ion-col class="ion-text-right">
      <ion-icon name="close" size="large" [routerLink]="['../']"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <h2 id="tour-title">{{ tour.title }}</h2>
      <i class="ion-color-medium">Guía: {{ tour.guide.name }} </i>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-left no-padding-y">
      <h4><strong>Visitando</strong></h4>
      <img [src]="tour.images[0]" alt="">
      <div class="info-box">
          {{ tour.itinerary[0].name }}
      </div>
      <!-- <p class="ion-color-medium">Guía: {{ tour. }} </p> -->
    </ion-col>
  </ion-row>
  <ion-row class="backcolor-light">
    <ion-col class="ion-text-left no-padding-y">
      <h4><strong>Integrantes</strong></h4>
      <ion-list class="list" lines="none">
        <ion-item>
          <ion-label>Adolfo Suarez</ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Miguel Perez</ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Nicole Murcia</ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-button class="btn-show-all" fill="clear" size="small" color="medium">ver todos</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="danger" (click)="quitTour()">Cancelar guiado</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
