// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.menu-activetour {
    background-color: var(--ion-color-success);
    width: 100%;
    height: 120px;
    padding: 16px;
    color: var(--ion-color-light);
}