<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Kmeet</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="menu-activetour" (click)="goActiveTour()" *ngIf="sessionTour.status === 'active'">
          <ion-menu-toggle auto-hide="false">
            <h3><strong>Tour Activo</strong></h3>
            <i>{{ sessionTour.tour.location }}</i>
          </ion-menu-toggle>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="share"></ion-icon>
            <ion-label>Compartir</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
