<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guía Turistico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-right">
    <ion-col size=12>
      <ion-button color="tertiary" fill="outline" routerLink="./new">+ Nuevo Tour</ion-button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header>
      <ion-label>Mis tours</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let tour of tours" detail [routerLink]="['/tour/details', tour.id]">
        <ion-label> {{ tour.title }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
