<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear nuevo Tour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-between" *ngIf="step === 1">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text color="primary">
        <h4>Paso 1</h4>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>

    <form>
      <ion-col>
        <ion-item>
          <ion-label>Titulo</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Locación</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item lines=none>
          <ion-label>Imagen principal</ion-label>
        </ion-item>
        <ion-item>
          <ion-input (ionChange)="changeImage($event)" type="file" accept="jpg,png"></ion-input>
        </ion-item>
      </ion-col>
    </form>

    <ion-col class="ion-text-center">
      <ion-icon name="images" *ngIf="!image" size="large"></ion-icon>
      <ion-img [src]="image" *ngIf="image && image.length > 0"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-button (click)="step = 2"><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

</ion-content>


<ion-content *ngIf="step === 2">
  <ion-text class="ion-text-center" color="medium">
    <h3>En construcción</h3>
    <p>(mapa)</p>
    <p>(itinerario)</p>
    <p>(imagenes)</p>
    <p>(tags)</p>
  </ion-text>
</ion-content>
