<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!searching">Santiago, Chile.</span>
      <ion-input *ngIf="searching" autofocus (ionBlur)="search()"></ion-input>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="map_canvas"></div> -->
  <ion-grid>
    <ion-row class="title">
      <ion-col>
        <h3>Nuevos Tours</h3>
        <i>Los ultimos creados para ti!</i>
      </ion-col>
    </ion-row>
    <ion-row class="section">
      <ion-col size=10 class="item-row">
        <ng-container *ngFor="let item of data">
          <ion-card [routerLink]="['/tour-detail', item.id]" router>
            <img [src]="item.images[0]">
            <ion-card-header>
              <ion-card-title>{{ item.title }}<ion-icon class="ion-float-right" size="large" [name]="item.type"></ion-icon></ion-card-title>
              <ion-card-subtitle>{{ item.location }}</ion-card-subtitle>
              <!-- <ion-card-subtitle class="ion-text-start" *ngIf="item.tags">
                <span class="tag" *ngFor="let tag of item.tags">#{{ tag.name }}</span>
              </ion-card-subtitle> -->
            </ion-card-header>
        
            <!-- <ion-card-content>
            </ion-card-content> -->
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
