.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#map_canvas {
  position: 'absolute';
  width: 100%;
  height: 100%;
  z-index: 1;
}

ion-card-content {
  padding-top: 0px;
}

ion-card {
  background-color: var(--ion-color-medium);
  margin: 0px 8px;
  display: inline-block;
}

ion-card-header {
  background-color: #ffffff;
}

ion-card-title ion-icon {
  position: relative;
  bottom: 40px;
  padding: 5px;
  background-color: var(--ion-color-secondary);
  border-radius: 50%;
  box-shadow: -2px -1px 8px var(--ion-color-dark);
}

ion-row {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--ion-color-light);
}

.title {
  padding-left: 8px;
  padding-right: 8px;
}

ion-col p, h3 {
  margin: 4px;
}

ion-grid {
  padding-top: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

.section { 
  padding-bottom: 8px;
  overflow: auto;
  white-space: nowrap;
}

.tag {
  background-color: rgba(216, 102, 100, 0.7);
  padding: 4px 12px;
  border-radius: 30%;
  margin: 0px 2px;
  font-style: italic;
  color: var(--ion-color-dark);
}

// .title {
//   padding: 2px 16px;
// }

// .item-row {
//   padding: 0px;
// }

.type {
  background-color: var(--ion-color-light);
}

.fixed[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.fixed[scrollx=true] {
  overflow-x: auto;
}

.fixed[scrolly=true] {
  overflow-y: auto;
}